body {
    background: #F2F2F2;
    color: #FFFFF0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #2C3759;
    text-align: center;
}

h2 {
    text-align: center;
}

.assignments {
    display: flex;
    flex-wrap: wrap;
}

.assignment {
    padding: 15px 0;
    margin: 10px;
    background-color: #B0C6D9;
    border-radius: 10px;
    width: 30%;
    height: 70%;
}

.assignment img{
    width: 200px;
    height: 200px;
    margin: 20px;
    border: 5px solid #2C3759;
    display: block;
    margin: auto;
}

.assignment img:hover{
    border: 5px solid #FFD700;
}

a{
    text-decoration: none;
    color: #2C3759;
}

a:hover {
    color: #FFD700;
}

/*img {
    height: 284px;
    width: 284px;
}

a:link {
    color: yellow;
}

a:visited {
    color: yellowgreen;
}*/